.field{
    font-size: 1.2rem;
    padding: 0.2rem;
    width: 70%;
    text-align: right;
    margin: 1rem;
  }

  #Signup{
      position:fixed;
      z-index: 1;
      background-color: khaki;
      margin-left: 15%;
      margin-top: 6%;
      margin-bottom: 10%;
      padding-bottom: 2%;
      border: 10px red groove;
      border-radius: 50px;
      width: 70%;
      visibility: hidden;
  }

  #Signin{
    position:fixed;
    z-index: 1;
    float :top;
    background-color:cornflowerblue;
    margin-left: 15%;
    margin-top: 7%;
    padding-bottom: 2%;
    border: 10px blue ridge;
    border-radius: 50px;
    width: 70%;
  }